<ul>
    <% if(!username || !info ) { %>
        <p>Please pass correct input..</p>
        <a href="index.ejs">Go back</a>
    <% } else { %>
    <p><%= username %> share your birthday with.. </p>    

    <p><%= info.event %></p>
    <% } %>
</ul>    